@import "compass/reset";
@import "blueprint/typography";
@import "compass/css3/box-shadow";

@include blueprint-typography;

img { display: block; }

header {
  background: #EFEFEF;
  border-bottom: 1px solid #C4C4C4;
  padding: 20px;
}

section#result {
  @include single-box-shadow(#EFEFEF, 5px, 5px);
  
  background: #FFFEE1;
  border: 1px solid #F0EFD4;
  margin: 20px;
  padding: 20px;
  width: 770px;
}