--- 
http_interactions: 
- request: 
    method: get
    uri: http://allthingssimpleblog.com/2011/11/22/earl-grey-latte-poor-mans-milk-foam/
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/html; charset=UTF-8
      x-hacker: 
      - If you're reading this, you should visit automattic.com/jobs and apply to join the fun, mention this header.
      x-pingback: 
      - http://allthingssimpleblog.com/xmlrpc.php
      link: 
      - <http://wp.me/pTNgr-vz>; rel=shortlink
    body: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n\
      <html xmlns=\"http://www.w3.org/1999/xhtml\" dir=\"ltr\" lang=\"en\">\n\
      <head profile=\"http://gmpg.org/xfn/11\">\n\n\
      <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\" />\n\
      <title>Earl Grey Latte + Poor Man&#8217;s Milk Foam  &laquo; All Things Simple</title>\n\
      <link rel=\"stylesheet\" type=\"text/css\" href=\"http://s0.wp.com/wp-content/themes/pub/bueno/style.css?m=1323834097g\" media=\"screen\" />\n\
      <link rel=\"pingback\" href=\"http://allthingssimpleblog.com/xmlrpc.php\" />\n\n\
      \t<!--[if IE 6]>\n\
      \t\t<script type=\"text/javascript\" src=\"http://s0.wp.com/wp-content/themes/pub/bueno/includes/js/pngfix.js?m=1315596933g\"></script>\n\
      \t\t<script type=\"text/javascript\" src=\"http://s0.wp.com/wp-content/themes/pub/bueno/includes/js/menu.js?m=1323834335g\"></script>\n\
      \t\t<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"http://s0.wp.com/wp-content/themes/pub/bueno/css/ie6.css?m=1308884411g\" />\n    <![endif]-->\n\n\
      \t<!--[if IE 7]>\n\
      \t\t<link rel=\"styleshee[...]
